body{
    background: rgb(32, 216, 223);
    font: normal 18pt Cambria;

}
header{
    color:rgb(163, 17, 49);
    text-align: center;

}
section{
    background: rgb(245, 146, 240);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.308);
    text-align: left;

}
footer{
    color:rgb(12, 11, 10);
    text-align: center;
    font-style: italic;

}